<!doctype html>
<html>
<head>
    <title>STOCK MEDIA</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="home">
<div class="container">

    <div class="jumbotron text-center">
        <h1>FIND THE PERFECT MEDIA</h1>
        <img src="https://64.media.tumblr.com/bf016721acfb1194faf3abce1168c69f/tumblr_myqq595hFZ1qk0c6do1_500.gif" alt="stock image site gif">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-primary btn-lg"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default btn-lg"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
